---
import MainLayout from "@layouts/mainLayout/mainLayout.astro";
import Header from "@components/Header/Header.astro";
import Banner from "@components/Banner/Banner.astro";
import AboutSection from "@components/AboutSection/AboutSection.astro";
import ProjectSection from "@components/ProjectSection/ProjectSection.astro";
import SkillSection from "@components/SkillSection/SkillSection.astro";
import ContactSection from "@components/ContactSection/ContactSection.astro";
import Footer from "@components/Footer/Footer.astro";
import { useTranslations, getLangFromUrl } from "@i18n/utils";

const keywords = [
  "JavaScript",
  "TypeScript",
  "Astro",
  "Web Design",
  "Responsive Web Design",
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<MainLayout title="BerryScript" description={t('page.description')} keywords={keywords}>
  <Header/>
  <Banner/>
  <main>
    <AboutSection/>
    <ProjectSection/>
    <SkillSection/>
    <ContactSection/>
    <Footer/>
  </main>
</MainLayout>
