---
import "./style.less";

interface Props {
    id: string
}

const { id } = Astro.props;
---

<div class="overlay hidden" id=`overlay-${id}`></div>
<div class="modal hidden" id=`modal-${id}`>
  <div class="button-close-container">
    <button class="button-close" data-modal-id=`${id}`>X</button>
  </div>
  <slot />
</div>

<script>
  import "./script.ts";
</script>
