---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import NavItem from "@components/NavItem/NavItem.astro";
import ThemeToggle from "@components/ThemeToggle/ThemeToggle.astro";
import LanguagePicker from "@components/LanguagePicker/LanguagePicker.astro";
import type { TranslationKeys } from "@custom-types/translationKeys.types";
import "./style.less";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const navItems = ["nav.about", "nav.projects", "nav.skills", "nav.contact"];
---

<header class="main-header">
  <div class="main-title-container">
    <h1>{t("header.title")} <div class="underline-title"></div></h1>
    <div class="config-container">
      <ThemeToggle />
      <LanguagePicker />
    </div>
  </div>
  <nav class="main-nav">
    <ul>
      {navItems.map((item: TranslationKeys) => <NavItem text={t(item)} enId={item.split(".")[1]}/>)}
    </ul>
  </nav>
</header>

<script>
  import "./script"
</script>