---
import "./style.less"
---

<section id="banner">
    <div class="line-dots" id="line-dots-normal">
        <div class="line"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
    </div>
    <label>
        <span>b</span>
        <span>e</span>
        <span>r</span>
        <span>r</span>
        <span>y</span>
        <span>s</span>
        <span>c</span>
        <span>r</span>
        <span>i</span>
        <span>p</span>
        <span>t</span>
        <span>?</span>
    </label>
    <div class="line-dots" id="line-dots-reverse">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="line"></div>
    </div>
</section>