---
import "./style.less"
---

<section id="banner">
    <div class="line-dots">
        <div class="line"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
    </div>
    <label>berryscript</label>
    <div class="line-dots" id="line-dots-reverse">
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="line"></div>
    </div>
</section>